.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

    main > article.content {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(32, 16, 8) 0%, #201008 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 1rem;
    display: flex;
    align-items: center;
    text-align: right;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-row.auth {
        display: inline-block;
        position: absolute;
        right: 10px;
        margin-top: 10px;
        margin-right: 10px;
    }

.trmrk-app-sidebar {
    position: sticky;
    top: 0px;
}

@media (max-width: 767.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }

    .top-row.auth {
        margin-right: 100px;
        z-index: 10;
    }
}

@media (min-width: 768px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .trmrk-app-sidebar.trmrk-small {
        width: 250px;
    }

    .trmrk-app-sidebar.trmrk-large {
        min-width: 500px;
        width: 50%;
    }
}

::deep .trmrk-hidden {
    display: none;
}

::deep .trmrk-table thead th {
    border-bottom: 2px solid #444;
    color: #ddd;
}

::deep .trmrk-table thead th,
::deep .trmrk-table tbody td {
    border-top: 2px solid #444;
    color: #bbb;
}

::deep .trmrk-error-block-small,
::deep .trmrk-error-block-medium,
::deep .trmrk-error-block-large {
    color: #FFA080;
    font-weight: normal;
}

::deep .trmrk-error-block-large {
    padding: 50px;
    font-size: 1rem;
}
