@page "/files"
@using Blazored.LocalStorage
@using Blazored.SessionStorage
@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.AspNetCore.Services
@using Turmerik.AspNetCore.Services.DriveItems
@using Turmerik.AspNetCore.Services.LocalSessionStorage
@using Turmerik.Blazor.Core.Pages.Components
@using Turmerik.Core.Cloneable
@using Turmerik.Core.Services.DriveItems

@inherits Turmerik.Blazor.Core.Pages.FilesBase

@inject ICloneableMapper mapper;
@inject INavManager navManager;
@inject ILocalStorageWrapper localStorage;
@inject ISessionStorageWrapper sessionStorage;
@inject IDriveFolderService driveFolderService;

<div class="@CssClassH.Container">
    <AddressBar
        OnGoBackClick=@OnAddressBarGoBackClick
        OnGoUpClick=@OnAddressBarGoUpClick
        OnGoForwardClick=@OnAddressBarGoForwardClick
        OnReloadClick=@OnAddressBarReloadClick
        OnSubmitAddress=@OnSubmitAddress></AddressBar>

        <TabView PageHeadsList=@TabPageHeadsList></TabView>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        this.Mapper = mapper;
        this.NavManager = navManager;

        LocalStorage = localStorage;
        SessionStorage = sessionStorage;

        DriveFolderService = driveFolderService;
        await base.OnInitializedAsync();
    }
}