@page "/"

<h1>Turmerik OneDrive Explorer</h1>

Welcome to Turmerik OneDrive Explorer app. Here you can browse your OneDrive items,
as well as view, edit, add and remove as many as you want.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
