@page "/login"

@using Turmerik.AspNetCore.MsIdentity.Services
@using Turmerik.AspNetCore.Services
@inject IAuthService AuthSvc

<h3>LogIn</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthSvc.LogIn();
    }
}