<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

<!-- <HomeIndexSnippet> -->
@{
    ViewData["Title"] = "Home Page";
}

@using Turmerik.OneDriveExplorer.WebApp

<div class="jumbotron">
    <h1>Turmerik OneDrive Explorer</h1>
    <p class="lead">This app enables you to explore your OneDrive items and open, edit, add or remove any of your drive items.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <h4>Welcome @User.GetUserGraphDisplayName()!</h4>
        <p>Use the navigation bar at the top of the page to get started.</p>
    }
    else
    {
        <a class="btn btn-primary btn-large" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Click here to sign in</a>
    }
</div>
<!-- </HomeIndexSnippet> -->
