@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Primitives
@using Turmerik.AspNetCore.Services
@using Turmerik.AspNetCore.Settings
@using Turmerik.AspNetCore.UserSession
@using Turmerik.AspNetCore.AppStartup
@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.Core.Cloneable
@using Turmerik.Core.Cloneable.Nested
@using Turmerik.Core.Helpers;
@inherits LayoutComponentBase

@inject NavigationManager NavManager;
@inject ITrmrkAppSettings AppSettings;
@inject IAppUserSessionsManager AppUserSessionsManager;
@inject IHttpContextAccessor HttpContextAccessor;
@inject ILocalStorageService LocalStorageService;

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    private System.Security.Claims.ClaimsPrincipal User;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        var userSession = await AppUserSessionsManager.TryAddOrUpdateUserSessionAsync(
            HttpContextAccessor,
            LocalStorageService);
    }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        User = (await AuthStat).User;

        if(!User.Identity.IsAuthenticated || !User.Claims.Any())
        {
            NavManager.NavigateTo($"{AppSettings.LoginRelUrl}?{QsKeys.RET_URL}={Uri.EscapeDataString(NavManager.Uri)}");
        }
    }
}