@using Turmerik.AspNetCore.Services
@using Turmerik.AspNetCore.Settings
@using Turmerik.AspNetCore.UserSession
@using Turmerik.AspNetCore.AppStartup
@using Turmerik.AspNetCore.Infrastructure
@inherits LayoutComponentBase

@inject NavigationManager NavManager;
@inject TrmrkAppSettings AppSettings;
@inject IAppUserSessionsManager AppUserSessionsManager;

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var user = (await AuthStat).User;

        if(!user.Identity.IsAuthenticated || !user.Claims.Any())
        {
            NavManager.NavigateTo($"{AppSettings.LoginRelUrl}?{QsKeys.RET_URL}={Uri.EscapeDataString(NavManager.Uri)}");
        }
    }
}