@page "/"
@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.AspNetCore.Services
@using Turmerik.Core.Cloneable

@inherits Turmerik.Blazor.Core.Pages.HomePageBase

@inject ICloneableMapper mapper;
@inject INavManager navManager;
@inject IJSRuntime jsRuntime;

<p>Upload audio file for note: </p>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
<input type="file" id="base-note-upload" />

@code {
    protected override async Task OnInitializedAsync()
    {
        this.Mapper = mapper;
        this.NavManager = navManager;

        this.JSRuntime = jsRuntime;
        await base.OnInitializedAsync();
    }
}
