@using Turmerik.AspNetCore.OpenId.Services
@inject IAuthService AuthSvc

<h5><a @onmouseup=@OnLogInClickAsync href="javascript:void();">LogIn</a></h5>

@code {
    private async Task OnLogInClickAsync()
    {
        await AuthSvc.LogIn();
    }
}