@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Primitives
@using Turmerik.AspNetCore.OpenId.UserSession
@using Turmerik.AspNetCore.Services
@using Turmerik.AspNetCore.Settings
@using Turmerik.AspNetCore.AppStartup
@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.Core.Cloneable
@using Turmerik.Core.Cloneable.Nested
@using Turmerik.Core.Helpers;
    using Turmerik.AspNetCore.OpenId.UserSession;

@inject NavigationManager NavManager;
@inject ITrmrkAppSettings AppSettings;
@inject IUserSessionsManager UserSessionsManager;

<h3>Logging out</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await UserSessionsManager.TryRemoveUserSessionAsync();
        NavManager.NavigateTo(AppSettings.LogoutRelUrl);
    }
}