@page "/files"

<h3>Files</h3>

@inject Microsoft.AspNetCore.Components.NavigationManager NavManager

@using Microsoft.Extensions.Primitives;
@using Microsoft.AspNetCore.WebUtilities
@using Turmerik.AspNetCore.Services;
@using Turmerik.AspNetCore.AppStartup;
@using Turmerik.AspNetCore.Infrastructure;

@code {
    private Uri Uri { get; set; }
    private Dictionary<string, StringValues> QueryStrings { get; set; }
    private string DriveFolderId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        QueryStrings = QueryHelpers.ParseQuery(Uri.Query);

        StringValues driveFolderId;

        if (QueryStrings.TryGetValue(
            QsKeys.DRIVE_ITEM_ID,
        out driveFolderId))
        {
            DriveFolderId = driveFolderId.SingleOrDefault();
        }
    }
}s