@page "/logout"

@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.AspNetCore.Services
@using Turmerik.AspNetCore.UserSession
@inject AuthService AuthSvc
@inject IAppUserSessionsManager AppUserSessionsManager;
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage;

<h3>Logging out</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthSvc.LogOut();
    }
}