@page "/logout-session"

@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Primitives
@using Turmerik.AspNetCore.Services
@using Turmerik.AspNetCore.Settings
@using Turmerik.AspNetCore.UserSession
@using Turmerik.AspNetCore.AppStartup
@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.Core.Cloneable
@using Turmerik.Core.Cloneable.Nested
@using Turmerik.Core.Helpers;

@inject NavigationManager NavManager;
@inject ITrmrkAppSettings AppSettings;
@inject IAppUserSessionsManager AppUserSessionsManager;
@inject IHttpContextAccessor HttpContextAccessor;
@inject ILocalStorageService LocalStorageService;

<h3>Logging out</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var userSession = await AppUserSessionsManager.TryRemoveUserSessionAsync(
            HttpContextAccessor,
            LocalStorageService);

        NavManager.NavigateTo(AppSettings.LogoutRelUrl);
    }
}