@page "/logout"

@using Turmerik.AspNetCore.Services
@inject IAuthService AuthSvc

<h3>Logging out</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthSvc.LogOut();
    }
}