.trmrk-address-bar-container {
    display: flex;
    flex-direction: row;
}

.trmrk-address-bar {
    width: 100%;
    display: inline-flex;
    background-color: black;
    color: #d7d7d7;
    font-size: 0.9em;
    margin: 0px 4px 0px 4px;
}

.trmrk-address-bar-container ::deep .trmrk-btn {
    padding: 6px 4px 0px 4px;
    cursor: grab;
}
