@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.Blazor.Core.Pages.Components
@using Turmerik.Core.Helpers;

@inherits ComponentCoreBase;
@inject IJSRuntime JSRuntime;

<IconButton
    Id="@UuidStr"
    CssClass=@CssClass
    IsDisabled=@IsDisabled
    OnMouseUp=@OnMouseUpAsync>
    <InnerTemplate Context="iconBtnInnerCtx">
        <span
            tabindex="0"
            data-bs-toggle="popover"
            data-bs-trigger="hover focus"
            data-bs-content="@ClickMessage"
            data-bs-animation="true"
            data-bs-custom-class="@CssClassH.Popover">
        </span>
    </InnerTemplate>
</IconButton>

@code {
    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public string ClickMessage { get; set; }

    [Parameter]
    public Func<MouseEventArgs, Task> OnClick { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    private async Task OnMouseUpAsync(MouseEventArgs args)
    {
        if (!IsDisabled)
        {
            if (OnClick != null)
            {
                await OnClick(args);
            }

            await JSRuntime.InvokeAsync<int>(
                TrmrkJsH.Get(TrmrkJsH.ShowPopover), UuidStr,
                "[data-bs-toggle='popover']", 1000);
        }
    }
}
