.trmrk-spacer {
    height: 10px;
}

::deep .trmrk-tab-view {
    margin-top: 10px;
}

::deep .trmrk-drive-folders-grid,
::deep .trmrk-drive-items-grid {
    cursor: pointer;
}

    ::deep .trmrk-drive-folders-grid tbody tr,
    ::deep .trmrk-drive-items-grid tbody tr {
        line-height: 1rem;
    }

        ::deep .trmrk-drive-folders-grid tbody tr td,
        ::deep .trmrk-drive-items-grid tbody tr td {
            padding: 0.4rem;
            padding-bottom: 4px;
        }

::deep .trmrk-drive-folders-grid th[scope] .oi {
    color: #FFC000;
}

::deep .trmrk-drive-items-grid th.trmrk-col-ext {
    width: 40px;
}