@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.Core.Helpers;

@inherits ComponentCoreBase;
@inject IJSRuntime JSRuntime;

<span
    id="@UuidStr"
    class="@CssClass @CssClassH.Btn"
    aria-hidden="true"
    title="@Title"
    @onmousedown=@OnMouseDownEventHandler
    @onmouseup=@OnMouseUpEventHandler
    disabled="@IsDisabled">
</span>

@code {
    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public Func<MouseEventArgs, Task> OnMouseDown { get; set; }

    [Parameter]
    public Func<MouseEventArgs, Task> OnMouseUp { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    protected async Task OnMouseDownEventHandler(MouseEventArgs args)
    {
        if (!IsDisabled)
        {
            await JSRuntime.InvokeAsync<string>(
                JsH.Get(JsH.AddCssClass), UuidStr, null, "trmrk-pressed");

            await OnMouseDown.InvokeAsyncIfReq(args);
        }
    }

    protected async Task OnMouseUpEventHandler(MouseEventArgs args)
    {
        if (!IsDisabled)
        {
            await JSRuntime.InvokeAsync<string>(
                JsH.Get(JsH.RemoveCssClass), UuidStr, null, "trmrk-pressed");

            await OnMouseUp.InvokeAsyncIfReq(args);
        }
    }
}
