.trmrk-tab-view-header,
.trmrk-tab-page {
    display: flex;
    margin: 0;
    padding: 0;
    border: 1px solid #404040;
    border-radius: 2px;
    color: #d7d7d7;
    font-size: 0.8rem;
}
.trmrk-tab-page-head {
    display: flex;
    margin: 0;
    padding: 0;
}
    .trmrk-tab-view-header > .trmrk-icon,
    .trmrk-tab-page-head > .trmrk-icon,
    .trmrk-tab-page-head > .trmrk-name,
    .trmrk-tab-page-head.trmrk-current > .trmrk-name,
    .trmrk-tab-page-head.trmrk-current > .trmrk-icon {
        cursor: pointer;
        display: inline-flex;
        border: 1px solid #404040;
        border-radius: 2px;
        line-height: 0.9rem;
        font-size: 0.9rem;
        word-wrap: anywhere;
        line-break: anywhere;
        flex-wrap: wrap;
        overflow-wrap: anywhere;
    }

    .trmrk-tab-view-header > .trmrk-icon,
    .trmrk-tab-page-head > .trmrk-icon,
    .trmrk-tab-page-head.trmrk-current > .trmrk-icon {
        position: relative;
        top: 0px;
        padding: 7px 5px 3px 5px;
        margin: 0;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 0.8rem;
        color: #FFD0A0;
    }

        .trmrk-tab-view-header > .trmrk-icon{
            padding-top: 5px;
        }

            .trmrk-tab-view-header > .trmrk-icon:hover,
            .trmrk-tab-page-head > .trmrk-icon:hover,
            .trmrk-tab-page-head.trmrk-current > .trmrk-icon:hover {
                color: darkorange;
            }

.trmrk-tab-page-head.trmrk-current > .trmrk-name,
.trmrk-tab-page-head.trmrk-current > .trmrk-icon {
    background-color: #403020;
    border: 1px solid #606060;
    margin: 0;
}

.trmrk-tab-page-head > .trmrk-name,
.trmrk-tab-page-head.trmrk-current > .trmrk-name {
    padding: 4px 4px 4px 4px;
    margin: 0;
    border-right: none;
    border-right-width: 0px;
    margin-right: 0px;
}

.trmrk-tab-page-head.trmrk-current > .trmrk-name {
    color: white;
    font-weight: bold;
}

.trmrk-tab-page-head > .trmrk-icon,
.trmrk-tab-page-head.trmrk-current > .trmrk-icon {
    border-left: none;
    border-left-width: 0px;
    margin-left: -2px;
}

    .trmrk-tab-view {
        padding: 0px;
        display: flex;
        flex-flow: column nowrap;
    }

.trmrk-tab-view-header {
    display: flex;
    flex-flow: row wrap;
}

    .trmrk-tab-page {
        display: block;
        min-height: 100px;
        padding: 5px;
    }

::deep th[scope] {
    width: 25px;
    padding: 7px 0 0 6px;
}