@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.AspNetCore.Services
@using Turmerik.Core.Components
@using Microsoft.AspNetCore.Components.Web

@inject IMainLayoutService mainLayoutService;

<div id="@DomIds.UI_BLOCKING_OVERLAY" class="@CssClassH.UIBlockingOverlay @OverlayCssClass">
    @if (ErrorViewModel != null)
    {
        <ErrorView ViewModel=@ErrorViewModel ViewSize=@ErrorViewSize.Large></ErrorView>
    }

    @if (ShowBackBtn)
    {
        <button type="button" class="btn btn-dark" @onmouseup=@OnBtnBackClickAsync>Back</button>
    }
</div>

@code {
    [Parameter]
    public ErrorViewModel ErrorViewModel { get; set; }

    [Parameter]
    public bool OverlayEnabled { get; set; }

    [Parameter]
    public bool ShowBackBtn { get; set; }

    private string OverlayCssClass
    {
        get
        {
            string cssClass = string.Empty;

            if (!OverlayEnabled)
            {
                cssClass = @CssClassH.Hidden;
            }
            else if (ErrorViewModel != null)
            {
                cssClass = CssClassH.Opaque;
            }

            return cssClass;
        }
    }

    private async Task OnBtnBackClickAsync()
    {
        mainLayoutService.HideOverlay();
    }
}
