#ui-blocking-overlay-container,
#ui-blocking-overlay {
    display: flex;
    position: absolute;
    flex-flow: column;
    z-index: 2000;
    background-color: #0000;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
}

#ui-blocking-overlay {
    height: 300vh;
    padding: 2rem;
}

#ui-blocking-overlay-container {
    border-top: 1px solid #ff6a00;
    min-height: 20rem;
    height: 100vh;
}

#ui-blocking-overlay {
    position: sticky;
}

#ui-blocking-overlay-container.trmrk-opaque {
    background-color: #111;
}

#ui-blocking-overlay-container.trmrk-hidden {
    display: none;
}

#ui-blocking-overlay > .btn.btn-dark.trmrk-btn {
    margin-top: 5px;
}

::deep .trmrk-popover.popover,
::deep .trmrk-popover.popover .popover-body {
    z-index: 3000;
}

    ::deep .trmrk-popover.popover .popover-arrow {
        z-index: 3000;
    }