@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.Core.Components

<div id="@DomIds.UI_BLOCKING_OVERLAY" class="@CssClassH.UIBlockingOverlay @OverlayCssClass">
    @if (ErrorViewModel != null)
    {
        <ErrorView ViewModel=@ErrorViewModel ViewSize=@ErrorViewSize.Large></ErrorView>
    }
</div>

@code {
    [Parameter]
    public ErrorViewModel ErrorViewModel { get; set; }

    [Parameter]
    public bool OverlayEnabled { get; set; }

    private string OverlayCssClass
    {
        get
        {
            string cssClass = string.Empty;

            if (!OverlayEnabled)
            {
                cssClass = @CssClassH.Hidden;
            }
            else if (ErrorViewModel != null)
            {
                cssClass = CssClassH.Opaque;
            }

            return cssClass;
        }
    }
}
