@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Primitives
@using Turmerik.AspNetCore.LocalSession
@using Turmerik.AspNetCore.Services
@using Turmerik.AspNetCore.Services.LocalSessionStorage
@using Turmerik.AspNetCore.Settings
@using Turmerik.AspNetCore.AppStartup
@using Turmerik.AspNetCore.Infrastructure
@using Turmerik.Blazor.Core.Pages.Shared
@using Turmerik.Blazor.OpenId.Pages.Shared
@using Turmerik.Core.Cloneable
@using Turmerik.Core.Cloneable.Nested
@using Turmerik.Core.Helpers;
@using Turmerik.AspNetCore.OpenId.UserSession;
@using Turmerik.Blazor.Core.Pages.Components;

@inherits OpenIdMainLayoutComponentBase

@inject INavManager navManager;
@inject ILocalSessionsManager localSessionsManager;
@inject ITrmrkAppSettings appSettings;
@inject IHttpContextAccessor httpContextAccessor;
@inject ILocalStorageWrapper localStorage;
@inject ISessionStorageWrapper sessionStorage
@inject IUserSessionsManager userSessionsManager;
@inject IMainLayoutService mainLayoutService;

<style>
    main .content {
        margin-top: 1rem;
    }

    .top-row.auth {
        background-color: #080808;
        border-bottom: none;
    }
</style>

<PageTitle>Turmerik OneDrive Explorer</PageTitle>

<div class="page @PageCssClass">
    <div class="top-row px-4 auth">
        <LoginDisplay />
    </div>
    <div class="sidebar trmrk-app-sidebar @SideBarSizeCssClass">
        <NavMenu MenuItems=@MenuItems HasDefaultMenuItem="true" SizeChangedCallback="@SizeChangedCallback" Title="Turmerik OneDrive Explorer" />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<UIBlockingOverlay></UIBlockingOverlay>

@code {
    protected override Task OnInitializedAsync()
    {
        this.LocalSessionsManager = localSessionsManager;
        this.NavManager = navManager;
        this.AppSettings = appSettings;
        this.HttpContextAccessor = httpContextAccessor;
        this.LocalStorage = localStorage;
        this.SessionStorage = sessionStorage;
        this.UserSessionsManager = userSessionsManager;

        AssignMainLayoutService(mainLayoutService);
        return base.OnInitializedAsync();
    }
    
    private Dictionary<string, string> MenuItems { get; } = new Dictionary<string, string>
    {
        { "files", "Files" }
    };
}