@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Turmerik.AspNetCore.Infrastructure
@using System.Web;
@using Turmerik.Core.Helpers;

<h3>Settings</h3>

@inherits SettingsPageComponentBase

<div class="@CssClassH.Settings">
    <h5>Local Disk Explorer Background App Uri</h5>

    <TrmrkTextBox
        TextValue="@LocalDiskExplorerBackgroundAppUri"
        OnSubmitTextBox=OnSubmitLocalDiskExplorerBackgroundAppUri>
    </TrmrkTextBox>
</div>

@code {
}
